<div flex layout="row" ng-controller="HomeCtrl as hCtrl" ng-style="{'height': '100%'}">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2"  layout="column">
        <br/>
        <md-button ng-href="#/upload" class="md-raised md-primary">
            <md-icon aria-label="input" class="material-icons">cloud_upload</md-icon>
            Upload
        </md-button>
        <br/>
        <md-divider></md-divider>
        <br/>

        <md-list layout="column">
            <md-list-item ng-repeat="type in hCtrl.types">
                <md-button ng-click="hCtrl.selectType(type)" ng-class="{'selected' : type === hCtrl.selectedType }">
                    <md-icon aria-label="{{type.icon}}" class="material-icons">{{type.icon}}</md-icon>
                    {{type.name}}
                </md-button>
            </md-list-item>
        </md-list>

        <span flex></span>

        <md-button ng-click="mCtrl.logout()">
            <md-icon aria-label="input" class="material-icons">input</md-icon>
            Logout
        </md-button>
    </md-sidenav>

    <div layout="column">
        <md-content layout="column" class="md-padding">

            <div layout="row" layout-align="start" ng-style="{'margin-left': '20px'}">
                <div layout="column">
                    <h2 ng-style="{'margin-left': '20px'}">
                        <md-icon aria-label="{{hCtrl.selectedType.icon}}" class="material-icons"
                            ng-style="{'font-size': '36px', 'height': '36px', 'margin-right': '20px'}">
                            {{hCtrl.selectedType.icon}}
                        </md-icon>
                        {{hCtrl.selectedType.name}}
                    </h2>
                    <br/><br/>
                </div>
            </div>

            <md-content layout="column" layout-align="start stretch">
                <md-whiteframe ng-repeat="file in hCtrl.files" layout="row" ng-style="{'background': '#eee', 'margin-left':' 40px', 'margin-right':' 40px', 'margin':' 10px'}" layout-align="start center">
                    <md-icon aria-label="{{file.icon}}" class="material-icons" ng-style="{'margin-left':' 40px'}">{{file.icon}}</md-icon>
                    <span flex layout-align="center center">
                        <md-button flex ng-click="hCtrl.playFile($event, file)" ng-style="{'margin-left':' 40px'}">
                            <span flex>{{file.name}}</span>
                        </md-button>
                    </span>
                    <section layout-align="end center">
                        <md-button download="{{file.name}}" ng-href="{{file.url}}">
                            <md-icon aria-label="file_download" class="material-icons">file_download</md-icon>
                        </md-button>
                    </section>
                    <section layout-align="end center">
                        <md-button ng-click="hCtrl.deleteFile(file)">
                            <md-icon aria-label="delete" class="material-icons">delete</md-icon>
                        </md-button>
                    </section>
                </md-whiteframe>
            </md-content>

        </md-content>
    </div>
</div>
