<div class="row" ng-controller="HomeCtrl">
    <div class="container">
      <div class="page-header">
          <h1>Echo Play</h1>
      </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Your Files</h4>
            <table ng-table="tableParams" class="table table-hover" id="fileList" show-filter="false">
                <tr ng-repeat="file in $data">
                    <td data-title="'Fichier'" class="text-center">{{ file.title }}</td>
                    <td data-title="" class="text-center"><button class="btn btn-warning glyphicon glyphicon-trash" ng-click="deleteFile(file)"></td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-controller="MediaCtrl as controller" class="videogular-container">
        <videogular vg-theme="controller.config.theme">
    		<vg-media vg-src="controller.config.sources"
    				vg-tracks="controller.config.tracks">
    		</vg-media>
    		<vg-controls>
    			<vg-play-pause-button></vg-play-pause-button>
    			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
    			<vg-scrub-bar>
    				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    			</vg-scrub-bar>
    			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
    			<vg-volume>
    				<vg-mute-button></vg-mute-button>
    				<vg-volume-bar></vg-volume-bar>
    			</vg-volume>
    			<vg-fullscreen-button></vg-fullscreen-button>
    		</vg-controls>

    		<vg-overlay-play></vg-overlay-play>
    		<vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
    	</videogular>
    </div>
</div>
