<div flex layout="row" ng-controller="HomeCtrl as hCtrl">
    <md-sidenav ng-click="hCtrl.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
        <md-list>
            <md-list-item ng-repeat="type in hCtrl.types">
                <md-button ng-click="hCtrl.selectType(type)" ng-class="{'selected' : type === hCtrl.selectedType }">
                    <md-icon aria-label="{{type.icon}}" class="material-icons">{{type.icon}}</md-icon>
                    {{type.name}}
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button ng-click="mCtrl.logout()">
                    <md-icon aria-label="input" class="material-icons">input</md-icon>
                    Logout
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content flex id="content">
        <md-icon aria-label="{{hCtrl.selectedType.icon}}" class="material-icons">{{hCtrl.selectedType.icon}}</md-icon>
        <h1>Echo Play - Cloud Entertainment</h1>
        <h1>{{hCtrl.description}}</h1>
        <md-list>
            <md-list-item ng-repeat="file in hCtrl.files" layout="row">
                <md-icon aria-label="{{file.icon}}" class="material-icons">{{file.icon}}</md-icon>
                <md-button ng-click="hCtrl.playFile(file)">{{file.name}}</md-button>
                <md-button ng-click="hCtrl.downloadFile(file)">
                    <md-icon aria-label="file_download" class="material-icons">file_download</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
