<div ng-controller="MainCtrl as mCtrl" layout="row" class="md-inline-form" ng-cloak>
    <md-content layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>E-mail</label>
                <input ng-model="mCtrl.mail">
            </md-input-container>
            <md-input-container>
                <label>Mot de passe</label>
                <input type="password" ng-model="mCtrl.firstPassword">
            </md-input-container>
            <md-input-container>
                <label>Retaper le mot de passe</label>
                <input type="password" ng-model="mCtrl.secondPassword">
            </md-input-container>
            <md-input-container>
                <label>Prénom</label>
                <input ng-model="mCtrl.firstname">
            </md-input-container>
            <md-input-container>
                <label>Nom</label>
                <input ng-model="mCtrl.lastname">
            </md-input-container>
        </div>
        <md-button ng-click="mCtrl.signup" class="md-raised md-primary">
          Créer mon espace
        </md-button>
    </md-content>
</div>
