<div ng-controller="MainCtrl as mCtrl" class="md-inline-form" layout-align="center center" id="content" ng-cloak>
    <md-content flex layout-gt-sm="column" layout-align="center center" ng-style="'min-height': '500px', 'min-witdh': '500px'">
        <section layout="column" layout-align="center center" layout-wrap>
            <md-input-container>
                <label>E-mail</label>
                <input ng-model="mCtrl.mail">
            </md-input-container>
            <md-input-container>
                <label>Mot de passe</label>
                <input type="password" ng-model="mCtrl.password">
            </md-input-container>
        </section>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button ng-click="mCtrl.signin()" class="md-raised md-primary">
                Se connecter
            </md-button>
            <md-button ng-href="#/signup" class="md-raised md-primary">
                Créer mon espace
            </md-button>
        </section>
    </md-content>
</div>
