<div ng-controller="MainCtrl as mCtrl" class="md-inline-form" ng-cloak>
    <md-content layout-gt-sm="row" layout-padding>
        <div>
            <section layout="row" layout-align="center center" layout-wrap>
                <md-input-container>
                    <label>E-mail</label>
                    <input ng-model="mCtrl.mail">
                </md-input-container>
                <md-input-container>
                    <label>Mot de passe</label>
                    <input type="password" ng-model="mCtrl.password">
                </md-input-container>
            </section>
        </div>
        <md-button ng-click="mCtrl.signin" class="md-raised md-primary">
            Se connecter
        </md-button>
        <md-button ng-href="#/signup" class="md-raised md-primary">
            Créer mon espace
        </md-button>
    </md-content>
</div>
