<div class="container" ng-controller="UploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-md-3">
        <h3 class="text-center">Upload des fichiers</h3>
        <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
    </div>
    <div class="col-md-9" style="margin-bottom: 40px">
        <h3>File d'attente des Uploads</h3>
        <p>Taille de la file d'attende: {{ uploader.queue.length }}</p>
        <table ng-table="tableParams" class="table" id="fileList" show-filter="false">
            <thead>
                <tr>
                    <th width="50%">Nom</th>
                    <th ng-show="uploader.isHTML5">Taille</th>
                    <th ng-show="uploader.isHTML5">Progression</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $data">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} Mo</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Importer
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <div>
                Progression de la file d'attente:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Importer tous
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Supprimer tous
            </button>
        </div>
    </div>
</div>
