html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-sidenav md-button {
  width:100%;
  text-align:left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

#content img {
  display: block;
  height: auto;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}
