/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding: 0 0 82px 0; /* necessary for old-footer */
    color: #5a5a5a;
    text-align: justify;
    background-color: #FCFCFC;
    height: 100%;
}

html, body {
    height: 100%;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #D0D0D0;
    height: 1px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.another-file-over-class {
    border: dotted 3px green;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

#accountIcoLink {
    width: 27px;
}

#accountIcoLink:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.push {
    height: 83px;
    clear: both;
}

#footer {
    clear: both;
    background-color: #f0f0f0;
    color: #8b8b8b;
    text-align: center;
    position: fixed;
	bottom: 0;
    padding-top: 20px;
    padding-bottom: 12px;
    width: 100%;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    border-top: 1px solid #e7e7e7;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.account-field-name {
    font-weight: bold;
    width: 43%;
}

.account-table {
    background-color: #fcfcfc;
}

.account-table.table-striped > tbody > tr:nth-child(odd) > td,
.account-table.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.account-paginate {
    text-align: right;
}

.account-paginate * {
    margin: 0;
}

.account-well {
    background-color: #fefefe;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.pagination > li > a {
    color: #dc712c;
}

.pagination > li > a:hover {
    color: #FB8817;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 0; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {
    margin-bottom: 0;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 0; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 0;
}

#transfer-navbar, #direct-navbar, #file-navbar, #call-navbar {
    position: relative;
    top: 0;
    display: none;
}

.navbars {
    height: 60px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-control {
    height: 80px;
    margin-top: 0;
    /*font-size: 120px;*/
    font-size: 200px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.4);*/
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
    background-color: transparent;
    border: 0;
    z-index: 10;
    opacity: 0.7;
}

.carousel-control.right {
    right: 30px;
}

.carousel-caption h2,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption .btn {
    margin-top: 10px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.encart {
    min-height: 470px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
    padding: 19px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #FFFFFF;
    color: #5A5A5A;
    text-align: justify;
}

.encart_static {
    min-height: 400px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #E3E3E3;
    margin-bottom: 20px;
    padding: 19px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F0F0), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: -o-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
    color: #5A5A5A;
    text-align: justify;
}

.encart:hover {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F0F0), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: -o-linear-gradient(top, #F0F0F0, #FFFFFF);
    background-image: linear-gradient(to bottom, #F0F0F0, #FFFFFF);
}

.encart img {
    border-radius: 4px 4px 4px 4px;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

.hero-unit {
    background-color: #404040;
    background-image: -moz-linear-gradient(top, #505050, #707070);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#505050), to(#707070));
    background-image: -webkit-linear-gradient(top, #505050, #707070);
    background-image: -o-linear-gradient(top, #505050, #707070);
    background-image: linear-gradient(to bottom, #505050, #707070);
    padding: 10px;
    position: relative;
}

.TR_corner_img {
    position: absolute;
    top: -5px;
    right: -5px;
}

.BL_corner_img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.btn-primary {
    padding-left: 8px;
    padding-right: 8px;
}

footer {
    margin-top: 20px;
}

.breadcrumb {
    margin-top: 20px;
}

/* Lignes suivantes : pour transformer le "gliding" slider et "fading" slider => pas compatibles avec les anciens navigateurs !*/
.carouselfade .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carouselfade .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.carouselfade .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}

.nav-pills .active a, .nav-pills .active a:hover, .nav-pills .active a:focus {
    color: #ffffff;
    background-color: #000000;
}

.nav-pills a, .nav-pills a:hover, .nav-pills a:focus {
    color: #000000;
}

.plan_site {
    padding: 19px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
    /*border: 1px solid #F3F3F3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}

.nav-header {
    text-transform: none;
}

.hero-unit h2 {
    font-weight: normal;
}

/*----------------------------------------------------*/
/*Passage d'une charte bleue à une charte orange-rouge*/
/*----------------------------------------------------*/

a {
    color: #dc712c;
}

a:hover {
    color: #FB8817;
}

.btn-primary {
    background-color: #F58723;
    border-color: rgba(0, 0, 0, .1);
}

.btn-primary.hover,
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    background-color: #DC6E0A;
    border-color: rgba(0, 0, 0, .1);
}

.btn-primary.active:hover,
.btn-primary:active:hover,
.btn-primary.active.hover,
.btn-primary:active.hover,
.btn-primary.active,
.btn-primary:active {
    background-color: #CF6100;
    border-color: rgba(0, 0, 0, .1);
}

.btn-primary-red {
    background-color: #bf4f4b;
    background-image: -moz-linear-gradient(top, #bf4f4b, #9e312d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bf4f4b), to(#9e312d));
    background-image: -webkit-linear-gradient(top, #bf4f4b, #9e312d);
    background-image: -o-linear-gradient(top, #bf4f4b, #9e312d);
    background-image: linear-gradient(to bottom, #bf4f4b, #9e312d);
}

.btn-primary-red:hover, .btn-primary-red:focus, .btn-primary-red:active, .btn-primary-red.active, .btn-primary-red.disabled, .btn-primary-red[disabled] {
    background-color: #9e312d;
    color: #FFFFFF;
}

.btn-link-alt {
    color: #dc712c;
    background: transparent;
}

.btn-link-alt:hover,
.btn-link-alt.hover {
    text-decoration: underline;
}

.btn-link-alt:hover,
.btn-link-alt.hover,
.btn-link-alt:active,
.btn-link-alt.active {
    color: #c56329;
}

.feature {
    padding: 30px;
    background-image: -moz-linear-gradient(top, #F5F5F5, #FFFFFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #F5F5F5, #FFFFFF);
    background-image: -o-linear-gradient(top, #F5F5F5, #FFFFFF);
    background-image: linear-gradient(to bottom, #F5F5F5, #FFFFFF);
    border-radius: 14px 14px 14px 14px;
}

.feature_sans_fond {
    padding: 30px;
    border-radius: 14px 14px 14px 14px;
}

.feature h4 {
    background-color: #1B1B1B;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    color: white;
    padding: 15px;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}

.feature_sans_fond h4 {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(top, #FBB450, #F89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FBB450), to(#F89406));
    background-image: -webkit-linear-gradient(top, #FBB450, #F89406);
    background-image: -o-linear-gradient(top, #FBB450, #F89406);
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
    color: white;
    padding: 15px;
    border-radius: 14px 14px 14px 14px;
    font-weight: normal;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #DC712C;
}

.nav-tabs a {
    color: #555555;
}

.nav-list a {
    color: #909090;
    font-size: 12px;
}

.nav-list .active a, .nav-list .active a:hover, .nav-list .active a:focus {
    background-color: #707070;
    border-radius: 4px 4px 4px 4px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: solid transparent 5px;
    border-right-width: 0;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.subscription-info-toggle {
    cursor: pointer;
}

.subscription-info-block {
    font-style: italic;
}

.subscription-info-block .row + .row {
    margin-top: .5em;
}

.subscription-info-block.collapse.in {
    display: table-row;
}

.glyphicon {
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.glyphicon--flipped {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.form-control.phone-list {
    background: white;
}

.tr-legend,
.tr-detailLegend {
    cursor: pointer;
}

.tr-legend.active,
.tr-detailLegend.active {
    background-color: #CECECE;
}

/*
 * Helper classes
 */

.pad-l {
    padding-left: 1.5em;
}

.pad-t {
    padding-top: 1.5em;
}

.pad-n {
    padding: 0 !important;
}

.bor-n {
    border: none !important;
}

.mar-b {
    margin-bottom: 1.5em;
}

.mar-t {
    margin-top: 1.5em;
}

.mar-n {
    margin: 0;
}

/*
 * Wizard related classes
 */
.wizard-step {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 1px 0;
    cursor: pointer;
}

.wizard-step.active {
    border: 2px solid #F58723;
    padding: 0;
}

.wizard-stepnumber {
    background-color: #F58723;
    border-radius: 1em;
    padding: 0 .35em;
    color: #fff;
}

.js-wizard-breadcrumb-view {
    margin-bottom: 1em;
}

.table-dtmf {
    width: auto;
}

.checkbox-numpad + label {
    display: inline;
    position: relative;
    color: #ffffff;
    background-color: #B0B0B0;
    cursor: pointer;

    /*label styling*/
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 4px 10px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 3px;
}

.checkbox-numpad.glyphicon + label {
    font-size: 9px;
    padding: 6px 9px;
    border-radius: 3px;
}

.checkbox-numpad:checked + label {
    background-color: #F58723;
}

.checkbox-numpad:disabled + label {
    opacity: 0.5;
}

/*
 * Full calendar overrides
 */

.fc-time-grid-event .fc-time {
    font-size: 1.3em !important;
    padding: .25em !important;
    text-align: center;
}

.fc-time-grid-event .fc-title,
.fc-toolbar {
    display: none;
    visibility: hidden;
}

.fc-day-header .messages-per-day {
    font-weight: normal;
    font-style: italic;
    font-size: .85em;
}

.event-stripped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.event-timeline {
    position: absolute;
    left: 59px;
    border: none;
    border-top: 1px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999999;
}

.fw-hack {
    font-weight: normal;
}

.condensed-label {
    float: left;
    margin-right: .25em;
}
